{# 依赖 #} {# 正常 #}
{% set onl = original_name | lower %} {# 小写原文件名#}
{% set rgl = releaseGroup | lower %} {# 小写发行组名 #}
{% set ns = namespace(
  WebRip='',
  audio=[],
  matched=false,
  dr='SDR',
  extra_list=[],
  channel='',
  ) %}


{#可以使用的外部变脸

title : TMDB/豆瓣中的中文标题
en_title : TMDB中的英文标题 (不支持豆瓣)
original_title : TMDB/豆瓣中的原语种标题
name : 从文件名中识别的名称 (同时存在中英文时，优先使用中文)
en_name : 从文件名中识别的英文名称 (可能为空)
year : 年份
resourceType : 资源类型
effect : 特效
edition : 版本
videoFormat : 视频格式
releaseGroup : 发行组
videoCodec : 视频编码
audioCodec : 音频编码
tmdbid : TMDB ID
imdbid : IMDB ID
doubanid : 豆瓣ID
part : 段/节/部分
fileExt : 文件扩展名 (包括.)
customization : 自定义占位符 [在自定义规则中不需要使用]
webSource : 流媒体平台

# 以下是电视剧专属的

season : 季
season_year : 季的年份
episode : 集
season_episode : 季集 (SxxExx)
episode_title : 集标题
episode_date : 集首播日期


}

{# ==================================================================================== #}

{# 提取色彩深度 #} {# 正常 #}

{% set bit_depth_list = ['8bit','10bit','12bit'] %}
{% set bit_depth = (bit_depth_list | select('in', onl) | list | last) or '' %}

{# ==================================================================================== #}
{# ==================================================================================== #}
{# ==================================================================================== #}

{#根据发行组修改片源版本#}

{% set edition_mod_bd = ['vcb-studio','moozzi2','mai','ye','mawen1250','acgnation'] %} {# 定义 BluRay-Rip 的常见发行组 #}
{% set edition_mod_web = ['lolihouse','sakurato','dynamis one'] %} {# 定义 Web-Rip 的常见发行组 #}

{# 根据字幕组替换片源版本（优先级BluRay-Remux > BluRay-Rip > Web-Rip）#}
{% set edition_mod = 
    'BluRay-Remux' if 'bdremux' in onl 
    else 'BluRay-Rip' if edition_mod_bd | select('in', rgl) | list | length > 0 
    else 'Web-Rip' if edition_mod_web | select('in', rgl) | list | length > 0 and not resourceType 
    else resourceType 
%}

{# ==================================================================================== #}
{# ==================================================================================== #}
{# ==================================================================================== #}

{# 提取Web发行平台 #} {# 正常 #}

{# 定义Web发行平台别名对照词典 #} {# 待优化 #}
{% set WebRip_dict = {
  'CR': ['cr', 'crunchyroll'],
  'Baha': ['baha', 'bahamut'],
  'BiliBili-Global': ['b-global'],
  'BiliBili': ['bilibili'],
  'ABEMA': ['abema'],
  'Netflix': ['netflix', 'nfx','nf'],
  'AmazonPrime': ['prime', 'amazonprime', 'amzn'],
  'Hulu': ['hulu'],
  'DisneyPlus': ['disneyplus', 'disney+', 'disney_plus'],
  'HBO': ['hbo', 'hbo max', 'hbomax'],
  'YouTubePremium': ['youtube', 'ytpremium', 'ytp'],
  'AppleTV': ['appletv', 'apple tv', 'apple_tv','APTV'],
  'Crunchyroll': ['crunchyroll', 'crunchy'],
  'Funimation': ['funimation', 'funi'],
  'Vimeo': ['vimeo'],
  'Peacock': ['peacock'],
  'ParamountPlus': ['paramount+', 'paramountplus', 'paramount_plus'],
  'DAZN': ['dazn'],
  'Tubi': ['tubi'],
  'RakutenTV': ['rakuten', 'rakutentv'],
  'Tencent Video': ['tencent', 'tencentvideo'],
  'iQIYI': ['iqiyi', '爱奇艺', 'iqy'],
  'Youku': ['youku', '优酷'],
  'MangoTV': ['mangotv', '芒果tv', 'mgtv'],
} %}

{# 提取Web发行平台 #} {# 需要 ns.WebRip #}
{% for platform, aliases in WebRip_dict.items() %}
  {% if ns.WebRip == '' %}
    {% for alias in aliases %}
      {% if alias | lower in onl %}
        {% set ns.WebRip = platform %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{# ==================================================================================== #}
{# ==================================================================================== #}
{# ==================================================================================== #}

{# 提取音频编码 #} {# 正常 #} {# 需要 ns.audio #}

{# 定义音频编码别名对照词典 #}
{% set audio_dict = {
  'PCM': ['pcm'],
  'TrueHD': ['truehd'],
  'DTS-HD MA': ['dts-hd ma','dts-hd.ma','dts-hd_ma','dts-hd.master'],
  'DTS-HD': ['dts-hd','dts hd'],
  'DTS': ['dts','dts5.1'],
  'FLAC': ['flac'],
  'OPUS': ['opus'],
  'DDP': ['ddp','eac3','dd+'],
  'DD': ['dd','ac3','ac-3'],
  'AAC': ['aac']
} %}

{# 使用时二选一#}
{% set standard_audio_list = ['AAC','DD','DDP','FLAC','OPUS','DTS','DTS-HD','DTS-HD MA','TrueHD','PCM'] %} {# 定义匹配优先级顺序 (从低到高)#} {# 例:AAC&FLAC #}
{% set standard_audio_list = ['PCM','TrueHD','DTS-HD MA','DTS-HD','DTS','FLAC','OPUS','DDP','DD','AAC'] %} {# 定义匹配优先级顺序 (从高到低)#} {# 例:FLAC&AAC #}

{# 提取音频编码 #}
{% for x in standard_audio_list %}
  {% set ns.matched = false %}
  {% for alias in audio_dict[x] %}
    {% if not ns.matched and alias in onl %}
      {% set ns.audio = ns.audio + [x] %}
      {% set ns.matched = true %}
    {% endif %}
  {% endfor %}
{% endfor %}

{# DTS去重 #} {# 未对 DTS,DTS-HD,DTS-HD MA 同时存在的情况做适配 #}
{% if 'DTS-HD MA' in ns.audio %}
  {% set ns.audio = ns.audio | reject('equalto', 'DTS-HD') | reject('equalto', 'DTS') | list %}
{% elif 'DTS-HD' in ns.audio %}
  {% set ns.audio = ns.audio | reject('equalto', 'DTS') | list %}
{% endif %}

{# DD去重 #} {# 未对 DD,DDP (AC3,EAC3) 同时存在的情况做适配 #}
{% if 'DDP' in ns.audio %}
  {% set ns.audio = ns.audio | reject('equalto', 'DD') | list %}
{% endif %}

{# 输出模块 #}
{% set audio_mod = ns.audio | join('&') %}

{# ==================================================================================== #}
{# ==================================================================================== #}
{# ==================================================================================== #}

{# 提取音频参数 (包含声道数与Atmos) #} {# 正常 #} {# 需要 ns.audio AND ns.channel #}

{# 定义音频编码别名对照词典 #}
{% set audio_dict = {
  'PCM': ['pcm'],
  'TrueHD': ['truehd'],
  'DTS-HD MA': ['dts-hd ma','dts-hd.ma','dts-hd_ma','dts-hd.master'],
  'DTS-HD': ['dts-hd','dts hd'],
  'DTS': ['dts','dts5.1'],
  'FLAC': ['flac'],
  'OPUS': ['opus'],
  'DDP': ['ddp','eac3','dd+'],
  'DD': ['dd','ac3','ac-3'],
  'AAC': ['aac']
} %}

{# 使用时二选一#}
{% set standard_audio_list = ['AAC','DD','DDP','FLAC','OPUS','DTS','DTS-HD','DTS-HD MA','TrueHD','PCM'] %} {# 定义匹配优先级顺序 (从低到高)#} {# 例:AAC&FLAC #}
{% set standard_audio_list = ['PCM','TrueHD','DTS-HD MA','DTS-HD','DTS','FLAC','OPUS','DDP','DD','AAC'] %} {# 定义匹配优先级顺序 (从高到低)#} {# 例:FLAC&AAC #}

{# 提取音频编码 #}
{% for x in standard_audio_list %}
  {% set ns.matched = false %}
  {% for alias in audio_dict[x] %}
    {% if not ns.matched and alias in onl %}
      {% set ns.audio = ns.audio + [x] %}
      {% set ns.matched = true %}
    {% endif %}
  {% endfor %}
{% endfor %}

{# DTS去重 #} {# 未对 DTS,DTS-HD,DTS-HD MA 同时存在的情况做适配 #}
{% if 'DTS-HD MA' in ns.audio %}
  {% set ns.audio = ns.audio | reject('equalto', 'DTS-HD') | reject('equalto', 'DTS') | list %}
{% elif 'DTS-HD' in ns.audio %}
  {% set ns.audio = ns.audio | reject('equalto', 'DTS') | list %}
{% endif %}

{# DD去重 #} {# 未对 DD,DDP (AC3,EAC3) 同时存在的情况做适配 #}
{% if 'DDP' in ns.audio %}
  {% set ns.audio = ns.audio | reject('equalto', 'DD') | list %}
{% endif %}

{# 提取声道数 #}

{# 特例 #}
{% if '5.1.2audio' in onl %}
  {% set ns.channel = '5.1ch' %}
{% endif %}

{# 提取声道数 #}
{% for x in ['7.1.4','7.1.2','7.1','5.1.4','5.1.2','5.1','2.0'] %}
  {% if ns.channel == '' and ('.' ~ x in onl or x in onl) %}
    {% set ns.channel = x ~ 'ch' %}
  {% endif %}
{% endfor %}

{# 提取Atmos标记 #}

{% set atmos = 'Atmos' if 'atmos' in onl else '' %}

{# 拼接完整参数 #}
{% set audio_mod = ns.audio | join('&') %}
{% if audio_mod and ns.channel %}
  {% set audio_mod = audio_mod ~ '_' ~ ns.channel %}
  {% if audio_mod and atmos %}
    {% set audio_mod = audio_mod ~ '.' ~ atmos %}
    {% endif %}
{% endif %}
{% if not audio_mod %}
  {% set audio_mod = audioCodec %}
{% endif %}

{# ==================================================================================== #}
{# ==================================================================================== #}
{# ==================================================================================== #}


{# 提取动态范围 #} {# 正常 #}

{# Dolby Vision Profile 别名字典 #}
{% set dv_dict = {
  'DolbyVision_Profile8.1': ['p8.1'],
  'DolbyVision_Profile8': ['p8'],
  'DolbyVision_Profile7': ['p7'],
  'DolbyVision_Profile5': ['p5'],
  'DolbyVision': ['dv', 'dovi', 'dolbyvision', 'dolby.vision', 'dolby_vision']
} %}

{# HDR Profile 别名字典 #}
{% set hdr_dict = {
  'HDR_HDR10+': ['hdr10+', 'hdr10plus', 'hdr10_plus'],
  'HDR_HDR10': ['hdr10'],
  'HDR_HLG': ['hlg'],
  'HDR': ['hdr']
} %}

{# 匹配 DolbyVision #}
{% for profile, aliases in dv_dict.items() %}
  {% if ns.dr == 'SDR' and aliases | select('in', onl) | list | length > 0 %}
    {% set ns.dr = profile %}
  {% endif %}
{% endfor %}

{#  匹配HDR #}
{% if ns.dr == 'SDR' %}
  {% for profile, aliases in hdr_dict.items() %}
    {% if ns.dr == 'SDR' and aliases | select('in', onl) | list | length > 0 %}
      {% set ns.dr = profile %}
    {% endif %}
  {% endfor %}
{% endif %}

{# ==================================================================================== #}
{# ==================================================================================== #}
{# ==================================================================================== #}

{# 提取额外参数 #} {# 正常 #}

{% for t in ['3d','imax','60fps','120fps'] %}
  {% if t in onl %}
    {% set upper = t | upper %}
    {% if upper not in ns.extra_list %}
      {% set ns.extra_list = ns.extra_list + [upper] %}
    {% endif %}
  {% endif %}
{% endfor %}

{% set extra = ns.extra_list | join(' ') %}


{# ==================================================================================== #}
{# ==================================================================================== #}
{# ==================================================================================== #}

{# 拼接输出参数 #}
{% set out = videoFormat | upper %}
{% if resourceType %}
  {% set out = out ~ ' ' ~ resourceType | upper%}
  {% if ns.webrip %}
    {% set out = out ~ '.' ~ ns.webrip %}
  {% endif %}
{% endif %}
{% if videoCodec %}
  {% set out = out ~ ' ' ~ videoCodec %}
  {% if bit_depth %}
    {% set out = out ~ '_' ~ bit_depth %}
  {% endif %}
{% endif %}
{% if audio_mod %}{% set out = out ~ ' ' ~ audio_mod %}{% endif %}
{% if ns.dr %}{% set out = out ~ ' ' ~ ns.dr %}{% endif %}
{% if extra %}{% set out = out ~ ' ' ~ extra %}{% endif %}

{# ==================================================================================== #}
{# ==================================================================================== #}
{# ==================================================================================== #}

{# 输出文件名 #}
{# 电视剧/动漫 #}
{{ title }} _ {{ en_title }} _ {{ original_title }} ({{ year }})/Season {{ season }}/{{ title }} - {{ season_episode }} - {{ out }}{% if releaseGroup %} - {{ releaseGroup }}{% endif %}{{ fileExt }}
{# 电影 #}
{{ title }} _ {{ en_title }} _ {{ original_title }} ({{ year }})/{{title}} - {{ out }}{% if releaseGroup %} - {{ releaseGroup }}{% endif %}{{ fileExt }}